version: '3.8'

services:
  db:
    image: docker.io/library/postgres:15
    restart: always
    environment:
      POSTGRES_DB: strava_board
      POSTGRES_USER: strava
      POSTGRES_PASSWORD: strava_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    image: ghcr.io/skvortsovden/strava-board:latest
    restart: always
    environment:
      - FLASK_RUN_PORT=8080
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  pgdata: