version: '3.8'

services:
  db:
    image: docker.io/library/postgres:15
    restart: always
    environment:
      POSTGRES_DB: bih_board
      POSTGRES_USER: strava
      POSTGRES_PASSWORD: strava_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    image: ghcr.io/skvortsovden/bih-board:latest
    pull_policy: always
    restart: always
    labels:
      io.containers.autoupdate: "registry"
    environment:
      - PORT=8080
      - STRAVA_REDIRECT_URI=https://berry.tailb7538f.ts.net/callback
      - STRAVA_CLIENT_ID=${STRAVA_CLIENT_ID}
      - STRAVA_CLIENT_SECRET=${STRAVA_CLIENT_SECRET}
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata: