<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ club_name }} Runs - Strava Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <h1 class="club-title">{{ club_name }} Runs</h1>
        {% if club_description %}
            <p class="club-description">{{ club_description }}</p>
        {% endif %}
        
        {% for month in monthly_runs|reverse %}
            <div class="table-container">
                <h2 class="week-header">
                    <span>{{ month.month | datetime('%B') }}</span>
                </h2>
                <div class="table-responsive">
                    <table class="week-table club-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Time</th>
                                <th>Dist</th>
                                <th class="mobile-hide">Pace</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for run in month.runs %}
                            <tr>
                                <td>{{ run.start_date_local.strftime('%d/%m<br>%H:%M')|safe }}</td>
                                <td>{{ run.name }}</td>
                                <td class="font-mono">{{ run.format_duration() }}</td>
                                <td class="font-mono">{{ "%.1f"|format(run.distance/1000) }} km</td>
                                <td class="mobile-hide font-mono">{{ run.format_pace() }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>