<!DOCTYPE html>
<html>
<head>
    <title>Leaderboards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include "navbar.html" %}
    <h1>Leaderboards by Club</h1>
    {% if my_clubs %}
    <div class="clubs-list">
        <ul>
            {% for club in my_clubs %}
            <li>
                <a href="{{ url_for('club_leaderboard', club_slug=club|lower|replace(' ', '-') ) }}" class="club-badge" style="text-decoration: none;">
                    {{ club }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>You are not a member of any clubs yet.</p>
    {% endif %}
</body>
</html>