<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <h1>Your Club Ranks</h1>
        {% if my_clubs %}
            <div class="table-container">
                <div class="table-responsive">
                    <table class="club-list-table">
                        {% for club in my_clubs %}
                        <tr>
                            <td>
                                <a href="{{ url_for('club_rank', club_slug=club|lower|replace(' ', '-') ) }}" class="club-link">
                                    {{ club }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% else %}
            <div class="no-data">
                <p>You are not a member of any clubs yet.</p>
            </div>
        {% endif %}
    </div>
</body>
</html>